.container {
  display: grid;
  place-items: center;
}

.userContainer {
  -webkit-transition: width 1s, background 1s;
  -moz-transition: width 1s, background 1s;
  -o-transition: width 1s, background 1s;
  transition: width 1s, background 1s;
  transition: all 0.3s ease-out;
}

.options {
  display: grid;
  position: relative;
  background-color: #57b9ee;
  border-radius: 23px 23px 0px 0px;
}

.title {
  display: grid;
  place-items: center;
}

@media screen and (min-width: 1024px) {
  .options {
    display: grid;
    grid-template-columns: 5% 5% 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .options {
    display: grid;
    grid-template-columns: 7% 5% 75%;
  }
}

@media screen and (max-width: 767px) {
  .options {
    display: grid;
    grid-template-columns: 15% 7% 70%;
  }
}
