body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.list{
  list-style-type: none;
}

.list-item{
padding: 10px;
margin-right: 10%;
border-bottom: 1px solid #d1bbbb;

}

.list-item-room{
  font-size: 11px;
  color: rgb(116, 116, 248);
}

.nickName{
  font-size: 14px;
  font-weight: 400;
}

.timeAgo{
  font-size: 12px;
  font-style: italic;
}
.main-content {
  margin-top: 70px;
}

.chatRoomFooter {
  position: sticky;
  bottom: 10px;
  background-color: white;
}
