@tailwind base;
@tailwind components;
@tailwind utilities;

.list-item{
  padding: 10px;
  margin-right: 10%;
  border-bottom: 1px solid #d1bbbb;
  
  }
  
  .list-item-room{
    font-size: 11px;
    color: #0ea5e9
  }

  .timeAgo{
    font-size: 10px;
    font-style: italic;
  }
  .nickName{
    font-size: 13px;
    font-weight: 400;
  }

  .message{
    font-size: 11px;
    font-style: italic;
  }

/*





.main-content {
  margin-top: 70px;
}
*/

