.container {
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
}

.internalContainer {
  display: grid;
  place-items: center;
}

.interlocutorContainer {
  display: grid;
  place-items: center;
  border-radius: 23px;
}

.messageContainer {
  display: grid;
  height: auto;
  -webkit-transition: width 1s, background 1s;
  -moz-transition: width 1s, background 1s;
  -o-transition: width 1s, background 1s;
  transition: width 1s, background 1s;
  transition: all 0.3s ease-out;
  grid-template-rows: auto;
}

.messageContainerSended {
  display: grid;
  height: auto;
  -webkit-transition: width 1s, background 1s;
  -moz-transition: width 1s, background 1s;
  -o-transition: width 1s, background 1s;
  transition: width 1s, background 1s;
  transition: all 0.3s ease-out;
  grid-template-rows: auto;
}

.message {
  background-color: #57b9ee;
  border-radius: 0 23px 23px 23px;
  word-wrap: break-word;
}

.messageSended {
  background-color: #57b9ee;
  border-radius: 23px 0 23px 23px;
  word-wrap: break-word;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .container {
    place-items: center;
    grid-auto-rows: 100px;
    height: 68vh;
    padding-top: 2%;
  }
  .messageContainer {
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    transition: all 0.3s ease-out;
    grid-template-columns: 10% 40% 50%;
    padding: 0 42% 0 0;
    margin-left: -25%;
    margin-bottom: 2%;
  }
  .messageContainerSended {
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    transition: all 0.3s ease-out;
    grid-template-columns: 92% 5%;
    padding: 0 42% 0 0;
    margin-left: -25%;
    margin-bottom: 2%;
    position: relative;
    left: 67%;
  }
  .message {
    margin-top: 4%;
    width: 400px;
  }

  .messageSended {
    margin-top: 4%;
    width: 400px;
  }

  .rightText {
    padding-right: 5%;
  }

  .interlocutorContainer {
    height: 30px;
    width: 90%;
    background-color: #57b9ee;
    margin: 0;
    padding: 0;
  }

  .image {
    width: 350px;
    padding: 0 2% 1% 2%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}
